@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}

@model learning1.DBEntities.ViewModel.AddBusinessViewModal;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />



<div class="container pb-4">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h4 class="ms-4">Add Business</h4>
        <div class="d-flex justify-content-end m-4">
            <a href="javascript: history.go(-1)" class="btn btn-outline-info font-info text-decoration-none text-info fs-6 bg-white d-flex align-items-center gap-1">
                <img src="/assets/images/chevron-left.svg" alt=""> Back
            </a>
        </div>
    </div>
    <div class="card border-0 shadow-sm">
        <div class="card-body ">
            <form method="post" asp-action="AddBusiness" asp-controller="Admin" novalidate>
                <div class="row p-2">

                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Business Name" asp-for="BusinessName" required>
                            <label for="floatingInput">Business Name</label>
                            <div class="invalid-feedback">Please enter a business.</div>
                        </div>
                    </div>


                    <div class="col-md-6 mb-3">
                        <div class="form-floating select-info">
                            <select class="form-select form-control shadow-none" aria-label="Floating label select example" id="Profession" asp-for="Profession" required>
                                <option value="">Select Profession</option>
                                @foreach (var items in Model.ProfessionalTypes)
                                {
                                    <option value=@items.HealthProfessionalId>@items.ProfessionName</option>
                                }
                            </select>
                            <label for="floatingSelect">Profession</label>
                            <div class="invalid-feedback">Please select a profession.</div>
                        </div>
                    </div>


                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Fax Number" asp-for="FaxNumber" required>
                            <label for="floatingInput">Fax Number</label>
                            <div class="invalid-feedback">Please enter a fax number.</div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3 input-info">
                        <div class="form-floating input-info w-100">
                            <input type="tel" class="form-control pt-3 pb-3 w-100 d-inline-block iti"
                                   id="phone" asp-for="PhoneNumber" required>
                            <div class="invalid-feedback">Please enter a phone number.</div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="email" class="form-control" id="floatingInput" placeholder="Email" asp-for="Email" required>
                            <label for="floatingInput">Email</label>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                    </div>


                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Business Contact" asp-for="BusinessContact" required>
                            <label for="floatingInput">Business Contact</label>
                            <div class="invalid-feedback">Please enter a business contact.</div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Street" asp-for="Street" required>
                            <label for="floatingInput">Street</label>
                            <div class="invalid-feedback">Please enter a street.</div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="City" asp-for="City" required>
                            <label for="floatingInput">City</label>
                            <div class="invalid-feedback">Please enter a city.</div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="State" asp-for="State" required>
                            <label for="floatingInput">State</label>
                            <div class="invalid-feedback">Please enter a state.</div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Zip/postal" asp-for="Zipcode" required>
                            <label for="floatingInput">Zip/postal</label>
                            <div class="invalid-feedback">Please enter a zipcode.</div>
                        </div>
                    </div>



                </div>


                <div>
                    <div class="d-flex justify-content-end gap-2 me-2 mb-5">
                        <button class="btn btn-info text-white" type="submit">Submit</button>
                        <button class="btn border-info text-info">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>







<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>




<script>
    // Prevent form submission if validation fails
    $('form').submit(function (event) {
        if (!this.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        }
        $(this).addClass('was-validated');
    });


    $('form').submit(function (event) {
        if (!this.checkValidity()) {
            let ProfessionId = $('#Profession').val();
            if (ProfessionId == 0) {
                $('#Profession').addClass('is-invalid');
                return;
            }
        }
        else {
            $('this').addClass('was-validated');
        }
    });
</script>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}