@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

<div class="container pb-4">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h4 class="">Submit Information</h4>
        <div class="d-flex justify-content-end m-4">
            <a asp-action="admindashboard" asp-controller="Admin" class="btn btn-outline-info font-info text-decoration-none text-info fs-5 bg-white">
                <img src="/assets/images/chevron-left.svg" alt=""> Back
            </a>
        </div>
    </div>
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <form action="" class="form-floating">
                <div class="row mb-4">
                    <h5 class="mb-2">Patient</h5>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="First Name">
                            <label for="floatingInput" class="text-secondary">First Name</label>
                           
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Last Name">
                            <label for="floatingInput" class="text-secondary">Last Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="email" class="form-control" id="email"
                                   placeholder="name@example.com">
                            <label for="floatingInput" class="text-secondary">Email address</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info w-100">
                            <input type="tel" class="form-control pt-3 pb-3 w-100 d-inline-block iti"
                                   id="phone">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="date" class="form-control" id="floatingInputValue" aria-label="Date"
                                   aria-describedby="basic-addon1">
                            <label for="floatingInputValue" class="text-secondary">Date of birth</label>     
                        </div>
                    </div>
                </div>



                <div class="row mb-4">
                    <h5 class="mb-2">Location</h5>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Street">
                            <label for="floatingInput" class="text-secondary">Street</label>
                          
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="City">
                            <label for="floatingInput" class="text-secondary">City</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="State">
                            <label for="floatingInput" class="text-secondary">State</label>
                            
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Zip Code">
                            <label for="floatingInput" class="text-secondary">Zip Code</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput"
                                   placeholder="Room #/Suite (Optional)">
                            <label for="floatingInput" class="text-secondary">Room #/Suite (Optional)</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="d-flex gap-2 align-items-center">
                            <button type="button" class="btn btn-outline-info text-decoration-none bg-white text-info p-3" id="" >
                                Verify
                            </button>
                            <button type="button" class="btn btn-outline-info text-decoration-none bg-white text-info d-flex align-items-center p-3" id="" >
                                <img src="~/assets/images/geo-alt-fill.svg" class="pe-2" alt="...">Map
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <h5 class="mb-2">Notes</h5>
                    <div class="col-12">
                        <div class="form-floating input-info mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                      style="height: 150px"></textarea>
                            <label for="floatingTextarea2" class="text-secondary">
                                Admin Notes
                                (Optional)
                            </label>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-2 gap-2">
                    <div class="ms-auto">
                        <button type="submit" class="btn btn-info text-white">Save</button>
                    </div>
                    <div class="">
                        <button type="button" class="btn btn-outline-info">Cancel</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>