@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}


@model learning1.DBEntities.ViewModel.CreateRoleViewModel;

@* Content of the Web-page *@
<div class="container pb-4">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h4 class="">Create Role</h4>
        <div class="d-flex justify-content-end m-4">
            <a href="javascript: history.go(-1)" class="btn btn-outline-info font-info text-decoration-none text-info fs-6 bg-white dark-mode1 d-flex align-items-center gap-1">
                <img src="/assets/images/chevron-left.svg" alt=""> Back
            </a>
        </div>
    </div>

    <form method="post" asp-action="CreateRole" asp-controller="Admin">

        <div class="card border-0 shadow-sm">
            <div class="card-body p-4">
                <div class="row">
                    <h5 class="my-3">Details</h5>
                    <input asp-for="RoleId" hidden/>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Role Name" asp-for="RoleName">
                            <label for="floatingInput">Role Name</label>
                            <p class="text-danger">@Html.ValidationMessageFor(x => x.RoleName)</p>
                            @* <span asp-validation-for="RoleName" class="text-danger"></span> *@
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating select-info">
                            <select class="form-select form-control shadow-none" id="AccountType" aria-label="Floating label select example" asp-for="AccountType">
                                <option value="0">All</option>
                                <option value="1">Admin</option>
                                <option value="2">Physician</option>
                                <option value="3">Patient</option>
                            </select>
                            <label for="floatingSelect">Account Type</label>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="d-flex flex-wrap gap-2" id="MenuList">
                            @* Menu by Account Type displays here *@
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-2 mb-3">
                <button type="submit" class="btn btn-info text-white">Save</button>
                <button type="submit" class="btn btn-outline-info bg-white dark-mode1 text-info">Cancel</button>
            </div>



        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
<script src="~/js/AccessRole.js"></script>