@model learning1.DBEntities.Models.Payrate;
@{
    Layout = "_AdminLayout";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<div class="container mt-3 ">
      <div class="d-flex justify-content-between align-items-center my-4">
        <h4 class="">Payrate</h4>
        <div class="d-flex justify-content-end">
            <a href="javascript: history.go(-1)"
               class="btn btn-outline-info font-info text-decoration-none text-info fs-6 bg-white dark-mode1 d-flex align-items-center gap-1">
                <img src="/assets/images/chevron-left.svg" alt=""> Back
            </a>
        </div>
    </div>
    <div class="main-content mt-3 bg-white shadow-sm border-2">

        <table class="table" id="DataTable">

            <thead>
                <tr class="table-secondary">
                    <td scope="col" class="text-center  align-middle">Category</td>
                    <td scope="col" class=" w-50">Payrate</td>
                    <td scope="col" class="text-center  align-middle">Action</td>
          
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center  align-middle">NightShift_Weeked</td>
                    <form asp-action="UpdatePayrate" asp-controller="Admin" asp-route-fieldId="1"  >

                        <input  asp-for="PhysicianId" hidden/>
                   <td >
                        <div class="form-floating w-50 ">
                            <input type="number" asp-for=NightShiftWeekend id="floatingTextarea2" class="form-control focus-ring focus-ring-light"  />
                            <label for="floatingTextarea2">Payrate</label>
                            <span  asp-validation-for="NightShiftWeekend" class="text-danger"></span>
                        </div>
                    </td>
                    <td class="text-center  align-middle">
                        <button class="btn btn-info text-white" >
                            Edit
                        </button>
                    </td>
                    </form>
                </tr>
                <tr>
                    <td class="text-center  align-middle">Shifts</td>
                    <form asp-action="UpdatePayrate" asp-controller="Admin" asp-route-fieldId="2">
                        <input asp-for="PhysicianId" hidden />
                    <td>
                        <div class="form-floating w-50">
                            <input type="number" id="floatingTextarea2" asp-for=Shift class="form-control focus-ring focus-ring-light" />
                            <label for="floatingTextarea2">Payrate</label>

                        </div>
                    </td>
                    <td class="text-center  align-middle">
                        <button class="btn btn-info text-white">
                            Edit
                        </button>
                    </td>
                    </form>
                </tr>
                <tr>
                    <td class="text-center  align-middle"> HouseCalls_Nights-Weekend</td>
                    <form asp-action="UpdatePayrate" asp-controller="Admin" asp-route-fieldId="3">
                        <input asp-for="PhysicianId" hidden />
                    <td>
                        <div class="form-floating w-50">
                            <input type="number" id="floatingTextarea2" asp-for=HousecallNightWeekend class="form-control focus-ring focus-ring-light" />
                            <label for="floatingTextarea2">Payrate</label>

                        </div>
                    </td>
                    <td class="text-center  align-middle">
                        <button class="btn btn-info text-white">
                            Edit
                        </button>
                    </td>
                    </form>
                </tr>
                <tr>
                    <td class="text-center  align-middle">PhoneConsults</td>
                    <form asp-action="UpdatePayrate" asp-controller="Admin" asp-route-fieldId="4">
                        <input asp-for="PhysicianId" hidden />
                    <td>
                        <div class="form-floating w-50">
                            <input type="number" id="floatingTextarea2" asp-for="Phoneconsult" class="form-control focus-ring focus-ring-light" />
                            <label for="floatingTextarea2">Payrate</label>

                        </div>
                    </td>
                    <td class="text-center  align-middle">
                        <button class="btn btn-info text-white">
                            Edit
                        </button>
                    </td>
                    </form>
                </tr>
                <tr>
                    <td class="text-center  align-middle"> PhoneConsults_Nights-Weekend </td>
                    <form asp-action="UpdatePayrate" asp-controller="Admin" asp-route-fieldId="5">
                        <input asp-for="PhysicianId" hidden />
                    <td>
                        <div class="form-floating w-50">
                            <input type="number" id="floatingTextarea2" asp-for=PhoneconsultNightWeekend class="form-control focus-ring focus-ring-light" />
                            <label for="floatingTextarea2">Payrate</label>

                        </div>
                    </td>
                    <td class="text-center  align-middle">
                        <button class="btn btn-info text-white">
                            Edit
                        </button>
                    </td>
                    </form>
                </tr>
                <tr>
                    <td class="text-center  align-middle">Batch Testing</td>
                    <form asp-action="UpdatePayrate" asp-controller="Admin" asp-route-fieldId="6">
                        <input asp-for="PhysicianId" hidden />
                    <td>
                        <div class="form-floating w-50">
                            <input type="number" id="floatingTextarea2" asp-for="BatchTesting" class="form-control focus-ring focus-ring-light" />
                            <label for="floatingTextarea2">Payrate</label>

                        </div>
                    </td>
                    <td class="text-center  align-middle">
                        <button class="btn btn-info text-white">
                            Edit
                        </button>
                    </td>
                    </form>
                </tr>
                <tr>
                    <td class="text-center  align-middle">HouseCalls</td>
                    <form asp-action="UpdatePayrate" asp-controller="Admin"   asp-route-fieldId="7">
                        <input asp-for="PhysicianId" hidden />
                    <td>
                        <div class="form-floating w-50">
                            <input type="number" id="floatingTextarea2" asp-for="Housecall"  class="form-control focus-ring focus-ring-light" />
                            <label for="floatingTextarea2">Payrate</label>

                        </div>
                    </td>
                    <td class="text-center  align-middle">
                        <button class="btn btn-info text-white">
                            Edit
                        </button>
                    </td>
                    </form>
                </tr>

            </tbody>

        </table>


    </div>
</div>




