@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}

@model learning1.DBEntities.ViewModel.ProviderMenuViewModel;
<!-- Modal for Contact your provider-->
<div class="modal fade" id="ContactProviderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Contact Your Provider</h1>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="message-text text-secondary" class="col-form-label">Choose communication to send message</label>
                        <div class="form-check mt-4">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                SMS
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Email
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Both
                            </label>
                        </div>



                        <div class="form-floating my-4">
                            <textarea class="form-control"
                                      placeholder="Message"
                                      id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">
                                Message
                            </label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="submit" class="btn btn-info text-white">Send</button>
                    <button type="button" class="btn btn-outline-info bg-white text-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>














@* Content of the Web-page *@
<div class="container pb-4">
    <div class="d-flex justify-content-between my-4">
        <h4 class="">Provider Information</h4>
    </div>


    <div class="card border-0 shadow-sm">
        <div class="card-body p-0">
            <div class="d-sm-flex justify-content-between align-items-center mb-2 p-2">
                <div class="col-md-3 p-2">
                    <div class="input-group border rounded-0 form-control">
                        <div class="input-group-append">
                            <button class="btn text-secondary border border-0 bg-white" type="button">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>

                        <select class="form-select border-0 shadow-none" aria-label="Floating label select example">
                            <option>All Regions</option>

                            @foreach (var items in Model.RegionList)
                            {
                                <option value=@items.RegionId>@items.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-end p-2">
                    <a asp-action="CreateProviderAccount" asp-controller="Admin"
                       class="btn btn-outline-info font-info text-decoration-none text-info fs-5 bg-white">
                        Create Provider Account
                    </a>
                </div>
            </div>


            <div id="Provider_table">

                @* teble render here *@
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/admin/GetProviderTable",
            data: {

            },

            success: function (result) {
                console.log(result);
                $("#Provider_table").html(result);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        })
    })
</script>