@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}





@* Content of the Web-page *@
<div class="container-fluid p-4">
    <div class="d-flex justify-content-between my-4">
        <h4 class="">Search Record</h4>
        <div class="d-flex justify-content-end">
            <a class="btn btn-info text-white d-flex align-items-center p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-reply-all-fill" viewBox="0 0 16 16" style="transform: scale(-1, 1);">
                    <path d="M8.021 11.9 3.453 8.62a.72.72 0 0 1 0-1.238L8.021 4.1a.716.716 0 0 1 1.079.619V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                </svg>
                <p class="d-none d-lg-flex ps-2 mb-0 py-auto">Export Data To Excel</p>
            </a>
        </div>
    </div>


    <div class="container-fluid bg-white border-0 shadow-sm p-0">
        <form>
            <div class="row mb-2 p-2">
                <div class="col-md-3 col-sm-6 mb-2">
                    <div class="form-floating select-info">
                        <select class="form-select form-control shadow-none" aria-label="Floating label select example">
                            <option value="0">All</option>
                            <option value="1">Admin</option>
                            <option value="2">Physician</option>
                            <option value="3">Patient</option>
                        </select>
                        <label for="floatingSelect">Select Request Status</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-2">
                    <div class="form-floating input-info">
                        <input type="text" class="form-control" id="patientName" placeholder="Patient Name">
                        <label for="floatingInput">Patient Name</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-2">
                    <div class="form-floating select-info">
                        <select class="form-select form-control shadow-none" aria-label="Floating label select example">
                            <option value="0">All</option>
                            <option value="1">Admin</option>
                            <option value="2">Physician</option>
                            <option value="3">Patient</option>
                        </select>
                        <label for="floatingSelect">Select Request Type</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-2">
                    <div class="form-floating input-info">
                        <input type="date" class="form-control" id="floatingInput" placeholder="From Date Of Service">
                        <label for="floatingInput">From Date Of Service</label>
                    </div>
                </div>
            </div>



            <div class="row mb-2 p-2">
                <div class="col-md-3 col-sm-6 mb-2">
                    <div class="form-floating input-info">
                        <input type="date" class="form-control" id="floatingInput" placeholder="To Date Of Service">
                        <label for="floatingInput">To Date Of Service</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-2">
                    <div class="form-floating input-info">
                        <input type="text" class="form-control" id="providerName" placeholder="Provider Name">
                        <label for="floatingInput">Provider Name</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-2">
                    <div class="form-floating input-info">
                        <input type="email" class="form-control" id="Email" placeholder="Email">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-2">
                    <div class="form-floating input-info">
                        <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
                        <label for="floatingInput">Phone Number</label>
                    </div>
                </div>
            </div>



            <div class="d-flex justify-content-end gap-2 mb-3 p-2">
                <button type="reset" class="btn btn-outline-info bg-white text-info" id="clear_btn">Clear</button>
                <button type="button" class="btn btn-info text-white" id="SearchRecords">Search</button>
            </div>

        </form>


        <div id="Searchrecord_table">
            @* table renders here *@
        </div>

    </div>
</div>




<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/admin/RendorSearchHistoryPartialView",
            data: {

            },

            success: function (result) {
                console.log(result);
                $("#Searchrecord_table").html(result);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        })
    })

    $("#SearchRecords").click(function () {
        var patientName = $("#patientName").val();
        var providerName = $("#providerName").val();
        var email = $("#Email").val();
        var phonenumber = $("#phoneNumber").val();
        $.ajax({
            type: "GET",
            url: "/admin/RendorSearchHistoryPartialView",
            data: {
                patientName: patientName,
                providerName: providerName,
                email: email,
                phoneNumber: phonenumber,
            },
            success: function (result) {
                console.log(result);
                $("#Searchrecord_table").html(result);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }

        })

    })

    $("#clear_btn").click(function () {
        $.ajax({
            type: "GET",
            url: "/admin/RendorSearchHistoryPartialView",
            data: {

            },
            success: function (result) {
                console.log(result);
                $("#Searchrecord_table").html(result);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }

        })

    })


</script>