@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}

@model learning1.DBEntities.ViewModel.SendOrderViewModel;

<div class="container pb-4">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h4 class="ms-4">Send Order</h4>
        <div class="d-flex justify-content-end m-4">
            <a href="javascript: history.go(-1)" class="btn btn-outline-info font-info text-decoration-none text-info fs-6 bg-white d-flex align-items-center gap-1">
                <img src="/assets/images/chevron-left.svg" alt=""> Back
            </a>
        </div>
    </div>
    <div class="card border-0 shadow-sm">
        <div class="card-body ">
            <form class="form-floating" method="post" novalidate>
                <div class="row p-2">
                    <input class="hidden" asp-for="VendorId" id="ExistingVendorId" />
                    <div class="form-floating input-info col-md-6 mb-4">
                        <select class="form-select" id="professionSelector" aria-label="Floating label select example" required>
                            <option value="">Select Profession</option>
                            @foreach (string items in Model.Profession)
                            {
                                <option value=@items>@items</option>
                            }
                        </select>
                        <label for="floatingSelect" class="mx-2 text-secondary">Select Profession</label>
                          <div class="invalid-feedback">Please select a profession.</div>
                    </div>
                    <div class="mb-4 col-md-6">
                        <div class="form-floating input-info">
                            <select class="form-select" id="businessSelector" aria-label="Floating label select example" required>
                                <option selected value="">Business</option>
                            </select>
                            <label for="floatingSelect">Businesss</label>
                              <div class="invalid-feedback">Please enter a business.</div>
                        </div>
                    </div>
                    <div class="form-floating col-md-6 mb-4 input-info">
                        <input type="text" class="form-control" id="ExistingBusinessContact" aria-describedby="basic-addon1" placeholder="Business Contact" asp-for="BusinessContact" required>
                        <label for="floatingInputValue" class="mx-2  text-secondary">Business Contact</label>
                          <div class="invalid-feedback">Please enter a business contact.</div>
                    </div>
                    <div class="form-floating col-md-6 mb-4 input-info">
                        <input type="text" class="form-control" id="ExistingEmail" aria-describedby="basic-addon1" placeholder="Email" asp-for="Email" required>
                        <label for="floatingInputValue" class="mx-2  text-secondary">Email</label>
                          <div class="invalid-feedback">Please enter an Email.</div>
                    </div>
                    <div class="form-floating col-md-6 mb-4 input-info">
                        <input type="text" class="form-control" id="ExistingFaxNumber" aria-describedby="basic-addon1" placeholder="Fax Number" asp-for="FaxNumber" required>
                        <label for="floatingInputValue" class="mx-2  text-secondary">Fax Number</label>
                          <div class="invalid-feedback">Please enter a fax number.</div>
                    </div>
                    <div class="form-floating input-info mb-4">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                  style="height: 120px" asp-for="OrderNotes" required></textarea>
                        <label for="floatingTextarea2" class="mx-2 text-secondary">
                            Prescription or Order Details
                        </label>
                          <div class="invalid-feedback">Please enter a comment.</div>
                    </div>
                    <div class="form-floating input-info col-md-6 mb-4">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" asp-for="No_of_Refills" required>
                            <option selected value="">Not required</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelect" class="mx-2  text-secondary">Number of Refill</label>
                          <div class="invalid-feedback">Please select a quantity.</div>
                    </div>
                </div>
                <div>
                    <div class="d-flex savebutton justify-content-end gap-2 me-2 mb-5">
                        <button class="btn btn-info text-white" type="submit">Submit</button>
                        <button class="btn border-info text-info" asp-action="admindashboard" asp-controller="Admin">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<script>
    // Prevent form submission if validation fails
    $('form').submit(function (event) {
        if (!this.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        }
        $(this).addClass('was-validated');
    });


    $('form').submit(function (event) {
        if (!this.checkValidity()) {
            let ProfessionId = $('#Profession').val();
            if (ProfessionId == 0) {
                $('#Profession').addClass('is-invalid');
                return;
            }
        }
        else {
            $('this').addClass('was-validated');
        }
    });
</script>

<script src="/js/DashboardRenderPartialView.js"></script>
