@{
    Layout = "_AdminLayout";
}



@model learning1.DBEntities.ViewModel.UserAccessViewModel;
@* Content of the Web-page *@
<div class="container pb-4">
    <div class="d-flex justify-content-between my-4">
        <h4 class="">User Access</h4>
    </div>


    <div class="card border-0 shadow-sm">
        <div class="card-body p-0">
            <div class="col-md-4 col-sm-6 p-2">
                <div class="form-floating select-info">
                    <select class="form-select form-control shadow-none" aria-label="Floating label select example" onchange="GetUserAccessPartialView(this.value)">
                        <option value="0">All</option>
                        @foreach (var i in Model.Roles)
                        {
                            <option value="@i.RoleId">@i.Name</option>
                        }
                    </select>
                    <label for="floatingSelect">Role Type</label>
                </div>
            </div>


            <div id="UserAccess_table">
                @* table here *@
            </div>
        </div>
    </div>
</div>





<script>
    $(document).ready(function () {

        $.ajax({
            method: "get",
            url: "/admin/GetUserAccessDetails",
            data: {
                RoleId:0
            },
            success: function (result) {
                $("#UserAccess_table").html(result);
                console.log(result);
            },
            error: function (error) {
                console.log(error);
            }

        })
    })

    function GetUserAccessPartialView(id) {

        $.ajax({
            method: "get",
            url: "/admin/GetUserAccessDetails",
            data: {
                RoleId:id
            },
            success: function (result) {
                $("#UserAccess_table").html(result);
                console.log(result);
            },
            error: function (error) {
                console.log(error);
            }

        })
    }
</script>