@{
    Layout = "_AdminLayout";
}



@* Content of the Web-page *@
<div class="container pb-4">
    <div class="d-flex justify-content-between my-4">
        <h4 class="">User Access</h4>
    </div>


    <div class="card border-0 shadow-sm">
        <div class="card-body p-0">
            <div class="col-md-4 col-sm-6 p-2">
                <div class="form-floating select-info">
                    <select class="form-select form-control shadow-none" aria-label="Floating label select example">
                        <option value="0">All</option>
                        <option value="1">Admin</option>
                        <option value="2">Physician</option>
                        <option value="3">Patient</option>
                    </select>
                    <label for="floatingSelect">Role Type</label>
                </div>
            </div>


            <div class="UserAccess_table">
                @* table here *@
            </div>
        </div>
    </div>
</div>





<script>
    $(document).ready(function () {

        $.ajax({
            method: "get",
            url: "/admin/GetUserAccessDetails",
            data: {
                
            },
            success: function (result) {
                $("#UserAccess_table").html(result);
            },
            error: function (error) {
                console.log(error);
            }

        })
    })
</script>