@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model learning1.DBEntities.ViewModel.ViewCaseViewModel;
@{

}
@{
    Layout = "_AdminLayout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />



<div class="container ">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="ms-3">View Reservation</h4>
        <div class="d-flex justify-content-end m-3">
            <a asp-action="admindashboard" asp-controller="Admin"
               class="btn btn-outline-info font-info text-decoration-none text-info fs-5 bg-white">
                <img src="/assets/images/chevron-left.svg" alt=""> Back
            </a>
        </div>
    </div>
    <div class="card bg-white border-0 shadow-sm">
        <div class="card-body">
            <form action="" class="form-floating">

                <div class="row mb-3">
                    <h5 class="mb-2">Patient Information</h5>

                    <div class=""> 
                        <p class="mb-0 text-secondary" style="font-size:small">Confirmation Number</p>
                        <h4 class="text-info">MDO095435487343498</h4>
                    </div>
                    <div class="form-floating input-info mt-2">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" value="dshfsiudh"
                                  style="height: 100px" disabled></textarea>
                        <label for="floatingTextarea2" class="mx-2">
                            Patient Notes
                        </label>
                    </div>

                </div>

                
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="First Name"
                                  asp-for="firstName" disabled>
                            <label for="floatingInput" class="">First Name</label>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" asp-for="lastName"
                                   placeholder="Last Name" disabled>
                            <label for="floatingInput" class="">Last Name</label>
                        </div>
                    </div>
                    <div class="form-floating col-md-6 mb-3 input-info">
                        <input type="date" class="form-control" id="floatingInputValue" aria-label="Date"
                               aria-describedby="basic-addon1" disabled>
                        <label for="floatingInputValue" class="mx-2">Date of birth</label>
                    </div>
                    <div class="form-floating col-md-6 mb-3 input-info">
                        <div class="d-flex justify-content-between me-5">
                            <div class="form-floating input-info w-100 me-2">
                                    <input type="tel" class="form-control pt-3 pb-3 w-100 d-inline-block iti"
                                           id="phone1" disabled>
                            </div>
                            <div class="form-floating">
                                <button type="button" class="btn btn-outline-info  text-decoration-none bg-white text-info p-3" id="" data-bs-toggle="modal" data-bs-target="#MapModal">
                                    <img src="/assets/images/telephone.svg" class="" alt="...">
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="form-floating col-md-6 mb-3 input-info">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Email"
                               asp-for="email" disabled>
                        <label for="floatingInput" class="mx-2">Email</label>
                    </div>
                    <div class="col-md-2">
                        <button type="button"
                                class="btn btn-outline-info  text-decoration-none bg-white text-info   d-flex  align-items-center px-5 py-3">
                            Edit
                        </button>
                    </div>

                </div>

                <div class="row">
                    <h5 class=" mb-2">Location Information</h5>
                    <div class="col-md-6 mb-3 mt-2">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Region"
                                  disabled>
                            <label for="floatingInput">Region</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 mt-2 ">
                        <div class="d-flex justify-content-between">
                            <div class="form-floating input-info w-100 me-2">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Business Name/Address"
                                       disabled>
                                <label for="floatingInput" class="mx-2">Business Name/Address</label>
                            </div>
                            <div class="form-floating">
                                <button type="button" class="btn btn-outline-info  text-decoration-none bg-white text-info p-3" id="Map" data-bs-toggle="modal" data-bs-target="#MapModal">
                                    <img src="/assets/images/geo-alt-fill.svg" class="" alt="...">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating input-info">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Room #"
                                   disabled>
                            <label for="floatingInput">Room #</label>
                        </div>
                    </div>
                </div>


                <div class="d-flex my-1 gap-2 justify-content-end">
                    <a class="btn btn-info text-white text-decoration-none py-2 " asp-action="ViewNotes" asp-controller="Admin">
                        Assign
                    </a>
                    <a class="btn btn-info text-white text-decoration-none py-2 " asp-action="ViewNotes" asp-controller="Admin">
                        View Notes
                    </a>
                    <a class="btn btn-danger text-white text-decoration-none py-2" asp-action="ViewNotes" asp-controller="Admin">
                        Cancel
                    </a> 
                </div>



            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>


