@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}

<div class="container">
    <div class=" d-flex justify-content-between align-items-center">
        <h4>Notes</h4>
        <div class="d-flex justify-content-end m-4">
            <a asp-action="admindashboard" asp-controller="Admin"
               class="btn btn-outline-info font-info text-decoration-none text-info fs-5 bg-white">
                <img src="/assets/images/chevron-left.svg" alt=""> Back
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <button class="btn d-flex justify-content-center align-items-center bg-white shadow p-2 w-100">
                    <img src="~/assets/images/arrow-left-right.svg" alt="" class=""/>
                <div class="ps-2">
                    <h6 class="h6 text-start">Transfer Notes</h6>
                    <p class="text-start text-wrap pb-0">Admin transferred to Dr. AGOLA om 27/09/2023 at 9.:38:04 AM : test assign</p>
                </div>
            </button>
        </div>
        <div class="col-md-6 mb-4">
            <button class="btn d-flex justify-content-center  align-items-center bg-white p-2 shadow w-100">
                <img src="~/assets/images/person-add.svg" alt="" />
                <div class="ps-2">
                    <h6 class="h6 text-start">Transfer Notes</h6>
                    <p class="text-start text-wrap pb-0">Admin transferred to Dr. AGOLA om 27/09/2023 at 9.:38:04 AM : test assign</p>
                </div>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <button class="btn d-flex justify-content-center align-items-center bg-white shadow p-2 w-100">
                <img src="~/assets/images/person.svg" alt="" />
                <div class="ps-2">
                    <h6 class="h6 text-start">Transfer Notes</h6>
                    <p class="text-start text-wrap pb-0">Admin transferred to Dr. AGOLA om 27/09/2023 at 9.:38:04 AM : test assign</p>
                </div>
            </button>
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <div class="bg-white p-4 rounded shadow ">
                <div class="form-floating input-info">
                    <textarea class="form-control" placeholder="" id="floatingTextarea2"
                              style="height: 150px"></textarea>
                    <label for="floatingTextarea2" class="mx-2 text-secondary">
                        Admin Notes
                    </label>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button type="button"
                            class="btn btn-info text-white text-decoration-none py-2 ms-2">
                       Save Changes
                    </button>
                </div>
            </div>
        </div>

        
    </div>

   
</div>


