<header>
    <div class="p-2" style="background-color:rgb(128,0,128);">
        <h4 class="text-start text-white p-2">User Management System</h4>
    </div>
    <div class="d-flex justify-content-end p-2" style="background-color:rgb(221,160,221);">
        <a class="btn bg-white text-black shadow" data-bs-toggle="modal"
           data-bs-target="#AddUser">
        ADD USER
    </a>
</div>


</header>