@{
    Layout = "_AdminLayout";
}






<!-- Content of the web-page -->
<div class="container-fluid ">



    <div class="row d-sm-flex d-none px-3 mt-5">
        <div class="col-lg-2 col-sm-4 col-4 align-items-start mb-4 px-1">
            <button class="btn bg-primary text-white w-100 rounded-0">
                <div class="d-flex my-2">
                    <i class="bi bi-universal-access-circle me-2"></i>
                    <h6 class="my-auto">NEW</h6>
                </div>
                <p class="h3 d-flex justify-content-start">1223</p>
            </button>
        </div>
        <div class="col-lg-2 col-sm-4 col-4 mb-4 px-1">
            <button class="btn bg-primary-subtle btn-outline-info text-info w-100 rounded-0">
                <div class="d-flex my-2">
                    <i class="bi bi-book me-2 text-info"></i>
                    <h6 class="my-auto">PENDING</h6>
                </div>
                <p class="h3 d-flex justify-content-start">1223</p>
            </button>
        </div>
        <div class="col-lg-2 col-sm-4 col-4 mb-4 px-1">
            <button class="btn bg-success-subtle btn-outline-success text-success w-100 rounded-0">
                <div class="d-flex my-2">
                    <i class="bi bi-check2-circle text-success me-2"></i>
                    <h6 class="my-auto">ACTIVE</h6>
                </div>
                <p class="h3 d-flex justify-content-start">1223</p>
            </button>
        </div>
        <div class="col-lg-2 col-sm-4 col-4 mb-4 px-1">
            <button class="btn bg-danger-subtle btn-outline-danger text-danger w-100 rounded-0">
                <div class="d-flex my-2">
                    <i class="bi bi-alexa me-2 text-danger"></i>
                    <h6 class="my-auto">CONCLUDE</h6>
                </div>
                <p class="h3 d-flex justify-content-start">1223</p>
            </button>
        </div>
        <div class="col-lg-2 col-sm-4 col-4 mb-4 px-1">
            <button class="btn bg-primary-subtle btn-outline-primary text-primary w-100 rounded-0 ">
                <div class="d-flex my-2">
                    <i class="bi bi-person-plus text-primary me-2"></i>
                    <h6 class="my-auto">TO CLOSE</h6>
                </div>
                <p class="h3 d-flex justify-content-start">1223</p>
            </button>
        </div>
        <div class="col-lg-2 col-sm-4 col-4 mb-4 px-1">
            <button class="btn bg-primary-subtle btn-outline-info text-info w-100 rounded-0">
                <div class="d-flex my-2">
                    <i class="bi bi-cash-coin me-2 text-info"></i>
                    <h6 class="my-auto">UNPAID</h6>
                </div>
                <p class="h3 d-flex justify-content-start">1223</p>
            </button>
        </div>

    </div>



    <div class="row d-sm-none d-flex py-2 px-2">
        <div class="col-4 mb-2 px-1">
            <button class="btn bg-primary text-white w-100 rounded-0">
                <p class="h6 pb-1" style="font-size: small;">NEW</p>
                <p class="h5">1223</p>
            </button>
        </div>
        <div class="col-4 mb-2 px-1">
            <button class="btn bg-primary-subtle btn-outline-info text-info w-100 rounded-0">
                <p class="h6 pb-1" style="font-size: small;">PENDING</p>
                <p class="h5">1223</p>
            </button>
        </div>
        <div class="col-4 mb-2 px-1">
            <button class="btn bg-success-subtle btn-outline-success text-success w-100 rounded-0">
                <p class="h6 pb-1" style="font-size: small;">ACTIVE</p>
                <p class="h5">1223</p>
            </button>
        </div>
        <div class="col-4 mb-2 px-1">
            <button class="btn bg-danger-subtle btn-outline-danger text-danger w-100 rounded-0 px-1">
                <p class="h6 pb-1" style="font-size: small;">CONCLUDE</p>
                <p class="h5">1223</p>
            </button>
        </div>
        <div class="col-4 mb-2 px-1">
            <button class="btn bg-primary-subtle btn-outline-primary text-primary w-100 rounded-0 ">
                <p class="h6 pb-1" style="font-size: small;">TO CLOSE</p>
                <p class="h5">1223</p>
            </button>
        </div>
        <div class="col-4 mb-2 px-1">
            <button class="btn bg-primary-subtle btn-outline-info text-info w-100 rounded-0">
                <p class="h6 pb-1" style="font-size: small;">UNPAID</p>
                <p class="h5">1223</p>
            </button>
        </div>
    </div>
</div>




<div class="container-fluid px-3">
    <div class="d-flex justify-content-between mb-2">
        <div class="d-sm-flex d-none">
            <h4 class="">Patients <span class="text-primary fs-6">(New)</span></h4>
        </div>
        <div class="d-sm-none d-flex pt-2 me-1">
            <h6 class="">Patients <span class="text-primary" style="font-size:small;">(New)</span></h6>
        </div>



        <div class="d-none d-lg-flex">
            <div class="me-2">
                <button class="btn btn-info text-white d-flex align-items-center">
                    <i class="bi bi-send me-2 "></i>
                    <p class="my-auto">Send Link</p>
                </button>

            </div>
            <div class="me-2">
                <button class="btn btn-info text-white d-flex align-items-center">
                    <i class="bi bi-file-earmark-text me-2"></i>
                    <p class="my-auto ">Create Request</p>
                </button>
            </div>
            <div class="me-2">
                <button class="btn btn-info text-white d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-reply-all-fill me-2" viewBox="0 0 16 16" style="transform: scale(-1, 1);">
                        <path d="M8.021 11.9 3.453 8.62a.72.72 0 0 1 0-1.238L8.021 4.1a.716.716 0 0 1 1.079.619V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                    </svg>
                    <p class="my-auto ">Export</p>
                </button>
            </div>
            <div class="me-2">
                <button class="btn btn-info text-white d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-reply-all-fill me-2" viewBox="0 0 16 16" style="transform: scale(-1, 1);">
                        <path d="M8.021 11.9 3.453 8.62a.72.72 0 0 1 0-1.238L8.021 4.1a.716.716 0 0 1 1.079.619V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                        <path d="M5.232 4.293a.5.5 0 0 1-.106.7L1.114 7.945l-.042.028a.147.147 0 0 0 0 .252l.042.028 4.012 2.954a.5.5 0 1 1-.593.805L.539 9.073a1.147 1.147 0 0 1 0-1.946l3.994-2.94a.5.5 0 0 1 .699.106" />
                    </svg>
                    <p class="my-auto">Export All</p>
                </button>
            </div>
            <div class="me-2">
                <button class="btn btn-info text-white d-flex align-items-center ">
                    <i class="bi bi-person-check-fill me-2"></i>
                    <p class="my-auto">Request DIY Support</p>
                </button>
            </div>
        </div>


        <div class="d-lg-none d-flex">
            <div class="pe-1">
                <button class="btn btn-info text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                    </svg>
                </button>

            </div>
            <div class="pe-1">
                <button class="btn btn-info text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5" />
                        <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                    </svg>
                </button>
            </div>
            <div class="pe-1">
                <button class="btn btn-info text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-reply-all-fill" viewBox="0 0 16 16" style="transform: scale(-1, 1);">
                        <path d="M8.021 11.9 3.453 8.62a.72.72 0 0 1 0-1.238L8.021 4.1a.716.716 0 0 1 1.079.619V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                    </svg>
                </button>

            </div>
            <div class="pe-1 ">
                <button class="btn btn-info text-white ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-reply-all-fill" viewBox="0 0 16 16" style="transform: scale(-1, 1);">
                        <path d="M8.021 11.9 3.453 8.62a.72.72 0 0 1 0-1.238L8.021 4.1a.716.716 0 0 1 1.079.619V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                        <path d="M5.232 4.293a.5.5 0 0 1-.106.7L1.114 7.945l-.042.028a.147.147 0 0 0 0 .252l.042.028 4.012 2.954a.5.5 0 1 1-.593.805L.539 9.073a1.147 1.147 0 0 1 0-1.946l3.994-2.94a.5.5 0 0 1 .699.106" />
                    </svg>
                </button>
            </div>
            <div class="pe-1">
                <button class="btn btn-info text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                </button>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid px-3">
    <form action="" role="" class=" ">
        <div class="row m-0 p-2 bg-white">
            <div class="col-lg-4 d-md-flex d-block">

                <div class="input-group border me-2 rounded-0 mb-2 form-control">
                    <div class="input-group-append">
                        <button class="btn text-secondary border border-0 bg-white" type="button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control border-0  shadow-none" placeholder="Search Patients">
                </div>

                <div class="input-group border rounded-0 mb-2 form-control">
                    <div class="input-group-append">
                        <button class="btn text-secondary border border-0 bg-white" type="button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control border-0 shadow-none" placeholder="All Regions">
                </div>

            </div>


            <div class="col-lg-8 pt-2">
                <div class="d-lg-flex d-none justify-content-end align-items-center">
                    <div class="me-4">
                        <button class="btn btn-outline-secondary">All</button>
                    </div>
                    <div class="me-2 d-sm-flex align-items-center">
                        <div class="rounded-circle me-1"
                             style="height: 15px; width: 15px; background-color: rgb(15, 189, 64);"></div>
                        <p class="my-auto">Patients</p>
                    </div>
                    <div class="me-2 d-sm-flex align-items-center">
                        <div class="rounded-circle me-1"
                             style="height: 15px; width: 15px; background-color: rgb(212, 107, 21);"></div>
                        <p class="my-auto">Family/Friend</p>
                    </div>
                    <div class="me-2 d-sm-flex align-items-center">
                        <div class="rounded-circle me-1"
                             style="height: 15px; width: 15px; background-color: rgb(203, 22, 134);"></div>
                        <p class="my-auto">Business</p>
                    </div>
                    <div class="me-2 d-sm-flex align-items-center">
                        <div class="rounded-circle me-1"
                             style="height: 15px; width: 15px; background-color: rgb(65, 65, 232);"></div>
                        <p class="my-auto">Concierge</p>
                    </div>
                    <div class="me-2 d-sm-flex align-items-center">
                        <div class="rounded-circle me-1"
                             style="height: 15px; width: 15px; background-color: rgb(129, 12, 129);"></div>
                        <p class="my-auto">VIP</p>
                    </div>
                </div>


                <div class="d-lg-none d-flex align-items-center justify-content-around">
                    <div class="me-4 d-sm-block d-none">
                        <button class="btn btn-outline-secondary">All</button>
                    </div>
                    <div class="me-1 d-sm-flex align-items-center">
                        <div class="rounded-circle mx-auto"
                             style="height: 12px; width: 12px; background-color: rgb(15, 189, 64);"></div>
                        <p class="my-auto ps-1" style="font-size: small;">Patients</p>
                    </div>
                    <div class="me-1 d-sm-flex align-items-center">
                        <div class="rounded-circle mx-auto"
                             style="height: 12px; width: 12px; background-color: rgb(212, 107, 21);"></div>
                        <p class="my-auto ps-1" style="font-size: small;">Family/Friend</p>
                    </div>
                    <div class="me-1 d-sm-flex align-items-center">
                        <div class="rounded-circle mx-auto"
                             style="height: 12px; width: 12px; background-color: rgb(203, 22, 134);"></div>
                        <p class="my-auto ps-1" style="font-size: small;">Business</p>
                    </div>
                    <div class="me-1 d-sm-flex align-items-center">
                        <div class="rounded-circle mx-auto"
                             style="height: 12px; width: 12px; background-color: rgb(65, 65, 232);"></div>
                        <p class="my-auto ps-1" style="font-size: small;">Concierge</p>
                    </div>
                    <div class="d-sm-flex align-items-center">
                        <div class="rounded-circle mx-auto"
                             style="height: 12px; width: 12px; background-color: rgb(129, 12, 129);"></div>
                        <p class="my-auto ps-1" style="font-size: small;">VIP</p>
                    </div>
                </div>
            </div>
        </div>
    </form>








    <div class="d-md-block d-none">
        <table class="table">


            <tr class="table-secondary">
                <td scope="col">Name</td>
                <td scope="col">Date of Birth</td>
                <td scope="col">Requestor</td>
                <td scope="col">Requested Date</td>
                <td scope="col">Phone</td>
                <td scope="col">Address</td>
                <td scope="col">Notes</td>
                <td scope="col">Chat With</td>
                <td scope="col">Actions</td>
            </tr>


            <tr class="table-success">
                <td class="">Mark</td>
                <td>Otto</td>
                <td></td>
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
            </tr>
            <tr class="bg-primary">
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
            </tr>

        </table>

    </div>







    <!-- mobile view for table -->
    <div class="d-md-none">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <div class="accordion-button collapsed bg-primary-subtle" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                         aria-controls="flush-collapseOne">
                        <div class="container-fluid">
                            <div class="d-flex justify-content-between mb-3">
                                <div class="">
                                    <h6>Patel, Sahil</h6>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <h6 class="me-1">Patients</h6>
                                    <div class="rounded-circle mt-1"
                                         style="height: 12px; width: 12px; background-color: rgb(15, 189, 64);">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="">
                                    <p class="fw-normal mb-0">Maryland Maryland,</p>
                                    <p class="fw-normal">Maryland 2121</p>
                                </div>
                                <div class="">
                                    <button class="btn btn-outline-info btn-sm rounded-pill">
                                        Map
                                        Location
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex">
                                <img src="" alt="">
                                <p class="text-secondary fw-small" style="font-size: 0.8rem;">
                                    Wait Time: <span class="fw-small">Dec 5,2023 08:52AM (641.59)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">

                    <hr class="m-0">
                    <div class="d-flex justify-content-end" style="margin-top: -12px; ">
                        <button class="btn text-primary btn-outline-primary rounded-pill bg-white py-0 px-2 me-4 z-3"
                                style="font-size:small; position: absolute;">
                            View Case
                        </button>
                    </div>


                    <div class="accordion-body container-fluid mt-2">
                        <div class="d-flex">
                            <div class="me-1">
                                <i class="bi bi-calendar-event"></i>
                            </div>
                            <label for="" class="me-2 text-secondary">Date of birth:</label>
                            <p>Jun 28, 1991(33)</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-1">
                                <i class="bi bi-envelope"></i>
                            </div>
                            <label for="" class="me-2 text-secondary">Email:</label>
                            <p>sahil.patel@gmail.com</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-1">
                                <i class="bi bi-telephone"></i>
                            </div>
                            <label for="" class="me-2 text-secondary">Patient:</label>
                            <p>2-23-1991(33)</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-1">
                                <i class="bi bi-person"></i>
                            </div>
                            <label for="" class="me-2 text-secondary">Requestor:</label>
                            <p>Patient Patel,sahil</p>
                        </div>
                        <div>
                            <div class="row mb-2 ">
                                <div class="col-6">
                                    <button class="btn text-white rounded-pill w-100"
                                            style="background-color: purple; font-size: small;">
                                        Assign Case
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn bg-danger border-0 text-white rounded-pill w-100"
                                            style="font-size: small;">
                                        Cancel Case
                                    </button>
                                </div>


                            </div>
                            <div class="row mb-2">
                                <div class="col-6">
                                    <button class="btn bg-success text-white rounded-pill w-100"
                                            style="font-size: small;">
                                        View Notes
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn bg-danger border-0 text-white rounded-pill w-100"
                                            style="font-size: small;">
                                        Block Patients
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">
                                    <button class="btn bg-success text-white rounded-pill w-100"
                                            style="font-size: small;">
                                        Email
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Placeholder content for this accordion, which is intended to
                        demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                        body. Let's imagine this being filled with some actual content.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Placeholder content for this accordion, which is intended to
                        demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                        body. Nothing more exciting happening here in terms of content, but just filling up the
                        space to make it look, at least at first glance, a bit more representative of how this would
                        look in a real-world application.
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>






